extends ../layout

block styles
    link(rel='stylesheet', href='/css/admin.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
block main
    block content
block mainScript
    block selfScript