// Created by huangyuan on 16-5-9.

doctype
html
	head
		link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.css")
		script(type="text/javascript",src="/components/jquery/dist/jquery.min.js")
		script(type="text/javascript",src="/components/bootstrap/dist/js/bootstrap.min.js")
	body
		h1 这是登陆页面