//
   Created by HuangYuan on 2016/5/5.

extends ../frame
append css
    style(type="text/css").
        .operate {
            text-align: center;
        }

        .operate i {
            padding: 5px;
        }
        .alert span {
            float: right;
        }
block content
    div.alert.alert-success 文章分类列表
        span(style="text-align:right")
            a(href="/admin/category/create")
                i.fa.fa-plus &nbsp;
                | 新增
    table.table.table-bordered.table-striped.table-hover.table-responsive
        tr
            td ID
            td 标题
            td 别名
            td 操作
        for category in categories
            tr
                td= category._id
                td= category.title
                td= category.slug
                td(class="operate")
                    a
                        i.fa.fa-edit.fa-lg
                    a
                        i(style="color:red").fa.fa-remove.fa-lg
        tr
            td(colspan="4",style="text-align:right") 当前页&nbsp;
                =currPage
                span /共
                = totalPage
                span 页&nbsp;&nbsp;&nbsp;
                a(href="/admin/users/userList?currPage=1") 首页&nbsp;
                if currPage != 1
                    a(href="/admin/users/userList?currPage=" + (currPage - 1) ) 上一页&nbsp;
                else
                    a() 上一页&nbsp;
                if currPage != totalPage
                    a(href="/admin/users/userList?currPage=" + (currPage + 1)) 下一页&nbsp;
                else
                    a(style="") 下一页&nbsp;
                a(href="/admin/users/userList?currPage=" + totalPage) 尾页
block selfScript