//
   Created by HuangYuan on 2016/4/25.

extends layout
//
    添加css
append css
    link(rel='stylesheet', href='/css/blog.css')
block content
    title= pageTitle
    h2= title
    each post in articles
        div.post
            h3.post-title
                a(href="/posts/view/" + post._id,target="_blank")
                    = post.title
            div.post-abstract
                =truncate(post.content, 150)
            div.post-meta
                span.post-created 发布时间:&nbsp;
                    = moment(post.created).format('YYYY-MM-DD')
                span.post-author 作者:&nbsp;
                    = post.author[0]['name']
                span.post-category 分类:&nbsp;
                    a(href='/posts/categoriy/' + post.category[0].title,target="_blank")
                        = post.category[0].title
                span.post-comment 评论:&nbsp;
                    = post.comments.length || 0
                span.post-favorite 赞:&nbsp;
                    a(href="/posts/favorite/" + post._id)
                        = post.meta.favorite || 0
                span.post-link
                    a(href="/posts/view/" + post._id,target="_blank") 查看全文
block scripts

